@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden; /* Hide scrollbars */
}

@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-center h-10 w-10 mt-2 mb-2 mx-auto
        shadow-lg bg-gray-800 text-white hover:bg-gray-600 rounded-xl hover:rounded-xl
        transition-all duration-300 ease-linear; 
    }
    
    .drawer {
        @apply top-0 left-14 w-36 h-screen m-0 flex flex-col bg-zinc-800 resize-x;
    }

    .search-bar{
         @apply shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none
    }

    .tab-passif{
        @apply flex flex-none border-solid border-r-2 border-zinc-900 w-auto h-full items-center justify-center bg-zinc-800
    }

    .tab-actif{
        @apply flex flex-none border-solid border-r-2 border-zinc-900 w-auto h-full items-center justify-center bg-red-500
    }

    .panel-actif{

        @apply flex-auto w-full bg-red-500;
        display: block;
    }

    .panel-passif{
        @apply flex-auto w-full bg-green-500;
        display: none;
    }

    :root{
        --color-files: #212324;
    }
}